spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:
#  datasource:
#    url: jdbc:h2:mem:testdb;MODE=MYSQL
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
  #      ddl-auto: create
  properties:
    hibernate:
      show_sql: true
      format_sql: true
  #    database: sql_server

  logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.type: trace

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  servlet:
    encoding:
      charset: utf-8
      enabled: true
      force: true

cloud:
  aws:
    credentials:
      accessKey:
      secretKey:
    s3:
      bucket:
    region:
      static: ap-northeast-2
    stack:
      auto: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  secret: c3ByaW5nLWJvb3Qtc2VjdXJpdHktand0LXR1dG9yaWFsLWppd29vbi1zcHJpbmctYm9vdC1zZWN1cml0eS1qd3QtdHV0b3JpYWwK
